In [0]:
import dlt
from pyspark.sql.functions import col, udf
from pyspark.sql.types import FloatType


# This file defines a sample transformation.
#
# Prefer to use SQL? See https://docs.databricks.com/dlt/tutorial-pipelines
# for a reference with examples.


@udf(returnType=FloatType())
def distance_km(distance_miles):
    """Convert distance from miles to kilometers (1 mile = 1.60934 km)."""
    return distance_miles * 1.60934

@dlt.table
def sample_trips_may_jun_9_1219():
    return (
        spark.read.table("samples.nyctaxi.trips")
        .withColumn("trip_distance_km", distance_km(col("trip_distance")))
    )